@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.0\.0\/stylesheets\/toolkit\/_border-box\.scss}line{font-family:\000036}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.0\.0\/stylesheets\/toolkit\/_fluid-media\.scss}line{font-family:\000034}}
img, video {
  max-width: 100%;
  height: auto;
}

/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/global\/_functions\.scss}line{font-family:\0000313}}
body:before {
  content: 'mobile';
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f00;
  color: #fff;
  padding: 10px;
  z-index: 100000;
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/global\/_functions\.scss}line{font-family:\0000313}}
  body:before {
    content: 'tablet';
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/global\/_functions\.scss}line{font-family:\0000313}}
  body:before {
    content: 'desktop';
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/global\/_functions\.scss}line{font-family:\0000313}}
  body:before {
    content: 'lg-desktop';
  }
}

/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/global\/_extendables\.scss}line{font-family:\0000314}}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/global\/_extendables\.scss}line{font-family:\0000319}}
.clearfix:after {
  clear: both;
}

/* -- BREAKPOINTS -- */
/*------------------------------------------ 
	DRUPAL Admin Menu
------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/drupal\/drupal\.scss}line{font-family:\0000310}}
#admin-menu, #admin-menu .dropdown, #admin-menu ul li, #admin-menu a {
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 13px !important;
  line-height: 1;
}

/*------------------------------------------ 
	DRUPAL ADMIN TABS 
------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/drupal\/drupal\.scss}line{font-family:\0000321}}
#tabs ul.tabs a {
  font-family: "Lucida Grande", Verdana, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/drupal\/drupal\.scss}line{font-family:\0000324}}
ul.primary li a {
  padding: 5px 10px;
}

/*------------------------------------------ 
	DRUPAL Messages
------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/drupal\/drupal\.scss}line{font-family:\0000332}}
div.messages {
  background-position: 15px 15px;
  font-family: "Lucida Grande", Verdana, sans-serif;
}

/*------------------------------------------ 
	DRUPAL Contextual Links
------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/drupal\/drupal\.scss}line{font-family:\0000341}}
ul.contextual-links li a {
  font-family: "Lucida Grande", Verdana, sans-serif;
}

/*------------------------------------------ 
	DRUPAL environment
------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/drupal\/drupal\.scss}line{font-family:\0000350}}
.environment-switcher-container {
  display: none;
}
