.header-image-static-exsists {
  main .wrap {
    margin-top: -300px;
  }
}

.header-image-static {
  img {
    @include box-shadow(0,2px,4px,rgba(0,0,0,0.5));
  }
}

.view-our-team {
  @include clearfix;
  .views-row {
    padding-bottom: 2em;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      @include float-span(5.8);
      &.views-row-odd {
        clear: both;
      }
    }
    @include breakpoint($desktop, $no-query: '.no-mq') {
      @include float-span(3.9);
      &.views-row-odd {
        clear: none;
      }
    }
    img {
      @include box-shadow(0,2px,4px,rgba(0,0,0,0.5));
      width: 100%;
    }
  }
}

#block-views-our-team-block {
  padding-top: 1em;
}