/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\000036}}
.node-webform.view-mode-full form {
  margin: 40px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\000039}}
.node-webform.view-mode-full .cols {
  display: inline-block;
  vertical-align: top;
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000313}}
  .node-webform.view-mode-full .cols.ds-col-one {
    padding-right: 30px;
    width: 58%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000317}}
  .node-webform.view-mode-full .cols.ds-col-two {
    padding-left: 30px;
    width: 40%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000325}}
input[type="text"], input[type="email"], textarea, input[type="password"], input[type="file"], input[type="number"] {
  background-color: #fff;
  border: 1px solid #dcd9d7;
  height: auto;
  padding: 5px 8px;
  width: 90%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px;
  color: #666;
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000325}}
  input[type="text"], input[type="email"], textarea, input[type="password"], input[type="file"], input[type="number"] {
    width: auto;
    max-width: 55%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000338}}
input[type="text"]:active, input[type="email"]:active, textarea:active, input[type="password"]:active, input[type="file"]:active, input[type="number"]:active {
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000344}}
textarea {
  width: 90%;
  max-width: 100%;
  margin-bottom: 10px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000350}}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000355}}
.fieldset-legend {
  color: #2c3e50;
  font-family: 'helvetica', serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000358}}
.fieldset-wrapper {
  padding: 30px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000363}}
.form-item {
  margin: 10px 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000365}}
.form-item:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000366}}
.form-item .description {
  margin-top: 5px;
  font-style: italic;
  color: #2c3e50;
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000366}}
  .form-item .description {
    padding-left: 43%;
  }
}
@media all and (min-width: 1220px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000366}}
  .form-item .description {
    padding-left: 33%;
  }
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000377}}
  .form-item label {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000377}}
  .form-item label {
    width: 40%;
    float: left;
    margin-right: 3%;
    font-size: 16px;
  }
}
@media all and (min-width: 1220px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000377}}
  .form-item label {
    width: 30%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000393}}
.form-item div {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\0000398}}
.form-checkboxes {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003100}}
.form-checkboxes label {
  float: none;
  width: auto;
  display: inline-block;
  font-size: 14px;
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003100}}
  .form-checkboxes label {
    font-size: 18px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003109}}
.form-checkboxes .form-item {
  margin: 0;
  width: 50%;
  float: left;
  margin-bottom: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003120}}
.field-prefix {
  margin-right: 5px;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003120}}
  .field-prefix {
    float: left;
    margin: 4px 5px 0 0;
  }
}

@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003129}}
  .webform-datepicker .form-item {
    margin-bottom: 15px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003129}}
  .webform-datepicker .form-item {
    display: inline-block !important;
    margin-bottom: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003144}}
.ie8 .form-item .description, .ie7 .form-item .description {
  padding-left: 33%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003147}}
.ie8 .form-item label, .ie7 .form-item label {
  display: block;
  width: 30%;
  float: left;
  margin-right: 3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003154}}
.ie8 input[type="text"], .ie8 input[type="email"], .ie8 textarea, .ie8 input[type="password"], .ie8 input[type="file"], .ie8 input[type="number"], .ie7 input[type="text"], .ie7 input[type="email"], .ie7 textarea, .ie7 input[type="password"], .ie7 input[type="file"], .ie7 input[type="number"] {
  width: 100%;
  max-width: 55%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003158}}
.ie8 textarea, .ie7 textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px !important;
}

/* Contact Form */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003168}}
#webform-client-form-2 .description {
  margin-top: 5px;
  font-style: italic;
  color: #2c3e50;
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003168}}
  #webform-client-form-2 .description {
    padding-left: 21%;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/drupalsandbox\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/forms\.scss}line{font-family:\00003178}}
  #webform-client-form-2 .form-item label {
    width: 20%;
    float: left;
    margin-right: 3%;
  }
}
