@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/sixstarcars\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/select\.scss}line{font-family:\000033}}
.select-list {
  border: 1px solid #ccc;
  width: 220px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/sixstarcars\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/select\.scss}line{font-family:\0000311}}
.select-list select {
  padding: 5px 14px 3px;
  width: 120%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/sixstarcars\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/select\.scss}line{font-family:\0000322}}
.select-list select:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brent\/VS\/sixstarcars\.com\/local\/sites\/all\/themes\/chloe\/assets\/sass\/partials\/modules\/forms\/select\.scss}line{font-family:\0000327}}
.webform-datepicker .select-list {
  width: 130px;
  background: white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
  margin-right: 10px;
}
