.slider {
  overflow: hidden;
  li {
    position: relative;
    height: 750px;
    img {
      //width: 100%;
    }
  }
  .slider-caption {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.unslider-nav {
  display: none;
}
.unslider-arrow {
  display: none;
}