header.site-header {
  @include clearfix;
  position: relative;
  z-index: 9;
}
.logo {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    @include grid-span(4, 1);
  }
}

.main-nav {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    @include grid-span(4, 9);
  }
}

.page-trails, .node-type-trails, .page-gallery, .node-type-gallery {
  header.site-header {
    background: url('../images/header-subpages.jpg');
    height: 415px;
  }

}