header.site-header {
  @include clearfix;
  position: relative;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    z-index: 2;
  }
}
.logo {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    @include grid-span(4, 1);
  }
}

.main-nav {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    @include grid-span(6, 7);
  }
}

header.site-header.no-preface {
  background: url('../images/header-subpages.jpg');
  padding: 2em 0 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    z-index: 2;
    height: 415px;
    padding:0;
  }

  
}

header.site-header {
  @include breakpoint($phone) {
    background: url('../images/header-subpages.jpg');
    padding: 2em 0 2em;
  }
}