main {
  @include clearfix;
  background: $main-bg url('../images/main-bg.jpg') repeat;
  padding: 2em 0 3em;
}

main.no-preface  {
  .wrap {
    //margin-top: -17em;
    position: relative;
    z-index: 3;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      margin-top: -17em;
    }
  }
}

