main {
  @include clearfix;
  background: $main-bg url('../images/main-bg.jpg') repeat;
  padding: 2em 0;
}

.page-trails, .node-type-trails, .page-gallery, .node-type-gallery {
  main {
    .wrap {
      margin-top: -17em;
    }
  }

}
